* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
    display: flex;
}
  .left-side {
    width: 35%;
    background-image: url("img/backgroud.avif");
    background-size: cover;
}
  
  .right-side {
    width: 65%;
    background-color: #ffffff; /* Adjust the background color as needed */
  }
